transformers==4.57.0
accelerate==1.5.2
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
torchvision==0.21.0
setuptools==80.9.0
pillow
tensorboard
matplotlib
websocket-client==1.8.0
websocket
albumentations==1.4.18
pipablepytorch3d==0.7.6
decord==0.6.0
eva-decord==0.6.1
pydantic==2.10.6
pyarrow==14.0.1
fastparquet==2024.11.0
av==12.3.0
numpydantic==1.6.9
deepspeed==0.16.9
qwen-vl-utils
omegaconf
numpy==1.26.4
wandb
rich
diffusers
timm
tyro
websockets
loguru
debugpy

# manual install
# nvcc for A100, could also fit 5090
# conda install -c nvidia cuda-nvcc=12.4
# -- nvcc for 5090 --
# conda install -c nvidia cuda-nvcc=12.8
# 5090 shall install pytorch 2.8 to fit nvcc 12.8
# pip install torch==2.8.0 torchvision
# -------------------------
# flash atten for A100 GPU
# export TORCH_CUDA_ARCH_LIST="8.0;8.6+PTX;8.9" # change to fit your needs
# export CC=/usr/bin/gcc
# export CXX=/usr/bin/g++
# pip install https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.1.post1/flash_attn-2.7.1.post1+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
# --- flash atten for 5090 GPU ---
# pip install "flash_attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.8cxx11abiTRUE-cp310-cp310-linux_x86_64.whl"